@keyframes moveInLeft {
    /* start */
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }

    80% {
        transform: translateX(0.4rem);
    }

    /* finish */
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(5rem);
    }

    80% {
        transform: translateX(-0.4rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes showLogo {
    0% {
        opacity: 0;
        transform: rotate(-20deg);
    }

    25% {
        opacity: 0.25;
        transform: rotate(45deg);
    }

    75% {
        opacity: 0.75;
        transform: rotate(70deg);
    }

    100% {
        opacity: 1;
        transform: rotate(-20deg);
    }
}
