*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* setting the box size on each element on the page, it will atuomatically inherit what ever we put in the border box */
  box-sizing: inherit;
}

html {
  /* this is the overall browser size, its used to convert the below px to rem */
  /* 10px / 16px = 0.625 which is 62.5% */
  //defines what 1rem is
  font-size: 45.5%;

  //defined in abstracts/mixins.scss

  @include respond(tab-land) {
    font-size: 44%; //1rem = 9px, 9/16 = 56.25%
  }
  @include respond(tab-port) {
    font-size: 38%; //1rem = 8px, 8/16 = 50%
  }
  @include respond(big-desktop) {
    font-size: 60%;
  }
}

body {
  box-sizing: border-box;
}
