@import "../abstracts/variables.scss";

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;

  //DETERMINES THE FRAME OF THE WEBSITE
  padding: 0.1rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  /* fixing the animation global bug */
  backface-visibility: hidden;
  /* add some distance between the text and the button */
  margin-bottom: 5rem;

  &--main {
      display: block;
      font-size: 8rem;
      font-weight: 400;
      letter-spacing: 1.5rem;
      margin-bottom: 1.1rem;

      animation-name: moveInLeft;
      animation-duration: 1s;
      animation-timing-function: ease-out;
  }

  &--sub {
      display: block;
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 1.5rem;

      /* defined above, now we can simply write like this */
      animation: moveInRight 1s ease-in-out;
  }
}
